<app-header></app-header>
<div class="display">
    <div class="inner">
<div class="outer">
    <h2>Land Registration Details</h2>
</div>
<ul class = "grid">
    <li>RegistrationNo :  {{data.land.RegistrationNo}}</li>
    <li>FarmerName     :  {{data.land.FarmerName}}</li>  
    <li>FarmAddress    :  {{data.land.FarmAddress}}</li>  
    <li>State          :  {{data.land.State}}</li>
    <li>Country        :  {{data.land.Country}}</li>
    <li>ExporterName   :  {{data.land.ExporterName}}</li> 
    <li>ImporterName   :  {{data.land.ImporterName}}</li>
    <li>DateOfRegistration: {{data.land.DateOfRegistration}}</li>
</ul>
</div>
</div>