<app-header></app-header>
<div class ="Profile">
<mat-card class="grid">
   <h2> User Profile</h2>
<form [formGroup]="Profile" (submit)="onSubmit()">
          <mat-form-field>
            <input formControlName="name" matInput placeholder="UserName">
            <mat-error>This field is mandatory.</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input formControlName="id" matInput placeholder="Id">
            <mat-error>Id is required</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input formControlName="email" matInput placeholder="Email">
            <mat-error>email is required.</mat-error>
          </mat-form-field>
          <mat-form-field>
              <mat-label>Role</mat-label>
              <mat-select formControlName="role">
                <mat-option *ngFor="let role of roles" [value]="role">{{role}}</mat-option>
              </mat-select>
            </mat-form-field>
            <div> </div>
          <!-- <button mat-raised-button color="primary" type="submit" [disabled]="Profile.invalid">Register</button>           -->
  </form>
</mat-card>
</div>