<app-header></app-header>

<div *ngIf="bool">

    <div class="display">
        <div class="inner">
            <div class="outer">
                <h2>Land Registration Details</h2>
            </div>
            <div class="grid">
                <ul class="custom-list">
                    <li class="heading-text">Registration No</li>
                    <li class="seperator">:</li>
                    <li class="details-text">{{data.RegistrationNo}}</li>
                    <li class="clear-float"></li>

                    <li class="heading-text">Farmer Name</li>
                    <li class="seperator">:</li>
                    <li class="details-text">{{data.FarmerName}}</li>
                    <li class="clear-float"></li>

                    <li class="heading-text">Farm Address</li>
                    <li class="seperator">:</li>
                    <li class="details-text">{{data.FarmAddress}}</li>
                    <li class="clear-float"></li>

                    <li class="heading-text">State</li>
                    <li class="seperator">:</li>
                    <li class="details-text">{{data.State}}</li>
                    <li class="clear-float"></li>
                </ul>


                <ul class="custom-list">
                    <li class="heading-text">Country</li>
                    <li class="seperator">:</li>
                    <li class="details-text">{{data.Country}}</li>
                    <li class="clear-float"></li>

                    <li class="heading-text">Exporter Name</li>
                    <li class="seperator">:</li>
                    <li class="details-text">{{data.ExporterName}}</li>
                    <li class="clear-float"></li>

                    <li class="heading-text">Importer Name</li>
                    <li class="seperator">:</li>
                    <li class="details-text">{{data.ImporterName}}</li>
                    <li class="clear-float"></li>

                    <li class="heading-text">Date Of Registration</li>
                    <li class="seperator">:</li>
                    <li class="details-text">{{data.DateOfRegistration | date}}</li>
                    <li class="clear-float"></li>
                </ul>
            </div>
        </div>
    </div>


    <div class="display">
        <div class="inner">
            <div class="outer">
                <h2>Cultivation Details</h2>
            </div>

            <div class="grid">
                <ul class="custom-list">
                    <li class="heading-text">Crop Variety</li>
                    <li class="seperator">:</li>
                    <li class="details-text">{{details.CropVariety}}</li>
                    <li class="clear-float"></li>
                </ul>

                <ul class="custom-list">
                    <li class="heading-text">Start of Date</li>
                    <li class="seperator">:</li>
                    <li class="details-text">{{details.Dateofstart}}</li>
                    <li class="clear-float"></li>
                </ul>
                <button mat-mini-fab color="primary" matTooltip="back" [routerLink]="['/dashboard']" routerLinkActive="active"><i class="material-icons">
                    arrow_back
            </i></button>
            </div>

        </div>

    </div>


</div>