<app-header></app-header>
<div class="grid">
<div></div>
  <mat-card>
  <div class="outer">
   <h2>Land Registration</h2>
  </div>
<form [formGroup]="RegisterLand" (submit)="onSubmit()">
          <mat-form-field>
            <input formControlName="RegistrationNo" matInput placeholder="Registration Number">
            <mat-error>Registration Number is required.</mat-error>
          </mat-form-field>

          <mat-form-field>
            <input formControlName="FarmerName" matInput placeholder="Farmer Name">
            <mat-error>Farmer Name is required</mat-error>
          </mat-form-field>

          <mat-form-field class="farmAddress">
            <input formControlName="FarmAddress" matInput placeholder="Farm Address">
            <mat-error>Farm Address is required.</mat-error>
          </mat-form-field>
            <mat-form-field>
                <input formControlName="State" matInput placeholder="State">
                <mat-error>State is required</mat-error>
              </mat-form-field>
    
              <mat-form-field>
                <input formControlName="Country" matInput placeholder="Country">
                <mat-error>Country is required.</mat-error>
              </mat-form-field>
              <mat-form-field>
                  <input formControlName="ExporterName" matInput placeholder=" ExporterName">
                  <mat-error>ExporterName is required</mat-error>
                </mat-form-field>
      
                <mat-form-field>
                  <input formControlName="ImporterName" matInput placeholder="ImporterName">
                  <mat-error>ImporterName is required.</mat-error>
                </mat-form-field>
          <div class="end">
              <button mat-mini-fab color="primary" matTooltip="back" (click)="backtodash()"><i class="material-icons">
                  arrow_back
                  </i></button>
          <button mat-raised-button color="primary" type="submit" [disabled]="RegisterLand.invalid">RegisterLand</button> 
        </div>
  </form>

</mat-card>
<div></div>
</div>

