<!-- <div class="form">
    <div class="outer1">  
      <h2>Land Registration</h2> 
      
    </div>
    <div class="outer" [formGroup]="addForm">
    <mat-form-field class="example-full-width">
    <input matInput placeholder="Registration number" formControlName="reg_no" />
    <mat-error *ngIf="!addForm.hasError('pattern')">
    please enter valid number
    </mat-error>
    </mat-form-field>
    
    <mat-form-field class="example-full-width">
    <input
    matInput
    placeholder="Farmer Name"
    formControlName="farmer_name"
    />
    <mat-error *ngIf="!addForm.hasError('pattern')">
    please enter valid name
    </mat-error>
    </mat-form-field>
    

    <mat-form-field class="example-full-width">
    <input
    matInput
    placeholder="Farm Address"
    formControlName="farm_address"
    />
    <mat-error *ngIf="!addForm.hasError('pattern')">
    Address required
    </mat-error>
    </mat-form-field>
    
    <mat-form-field class="example-full-width">
    <input
    matInput
    placeholder="Land Size"
    formControlName="land_size"
    />
    <mat-error *ngIf="!addForm.hasError('pattern')">
    Land size required
    </mat-error>
    </mat-form-field>
      <div class="clearbtn">
           
            </div>
    
            <div class="savebtn">
            <button mat-stroked-button color="primary" (click)="reset()">Clear</button>
            <button mat-stroked-button color="warn"  (click)="save()" [disabled]="!addForm .valid">Save</button>
            
          </div> 
    </div>
    </div> -->
    

<router-outlet></router-outlet>
