
.setPrice{
    display:grid;
  
}

mat-card{
    grid-column: 3/4;
    justify-self: center;
    align-self: center;
}
.display{
    height:60vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
}


.custom-list {
    list-style-type: none;
    list-style: none;
    padding: 0px;
    margin: 0px;
    line-height: 1.5;
}

.custom-list li {
    list-style-type: none;
    list-style: none;
    padding: 0px;
    margin: 0px;
    float:left;
    font-weight: bold;
}

.custom-list li.heading-text{
    width: 200px;
    font-family: sans-serif
}

.custom-list li.seperator{
    width: 25px;
}

.custom-list li.details-text{
    width: 200px;
    font-weight: normal;
}

.custom-list li.clear-float{
    clear: both;
}