.display {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

.inner {
    display: grid;
    grid-column: 2/3;
}

.outer {
    display: grid;
    grid-template-columns: 12fr 2fr;
    justify-items: center;
    align-items: center;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10%;
}

ol li {
    font-size: medium;
    font-family: sans-serif;
}