.filter {
    display: grid;
    grid-template-columns: 8fr 2fr;
}

a {
    color: blue;
    cursor: pointer;
    /* text-decoration: underline; */
}

#addland {
    justify-self: end;
    align-self: center;
}

.landlist {
    width: 100%;
}

table {
    width: 100%;
}

.outer {
    display: grid;
    grid-template-columns: 1fr 9fr 1fr;
}

.inner {
    grid-row: 1/2;
    grid-column: 2/3;
}

.notRegistered {
    display: grid;
    grid-template-columns: 8fr 2fr;
    justify-items: center;
    align-items: center;
}