

.grid{
   margin-top:5%;
   display:grid;
   grid-template-columns: 3fr 1fr 1fr 
}

mat-card{
    grid-column: 2/3; 
    display: grid;
}
form{
    display:grid;
    justify-items: center;
    align-items:start;
    grid-template-columns: 1fr ;
}

.outer{
    justify-self: center;
}

mat-form-field{
    width: 85%;
}

.end{
    justify-self: stretch;
    display:grid;
    justify-items: center;
    grid-template-columns: 1fr  1fr;
}
 


.custom-list {
    list-style-type: none;
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.custom-list li {
    list-style-type: none;
    list-style: none;
    padding: 0px;
    margin: 0px;
    float:left;
    font-weight: bold;
}

.custom-list li.heading-text{
    width: 175px;
    font-family: sans-serif
}

.custom-list li.seperator{
    width: 25px;
}

.custom-list li.details-text{
    width: 175px;
    font-weight: normal;
}

.custom-list li.clear-float{
    clear: both;
}

.grid1{
    justify-items: center;
    display:grid;
}
.grid3{
    display: grid;
    grid-template-columns: 4fr 4fr 1fr;
}
.grid5{
    display: grid;
    grid-template-columns: 4fr 4fr 1fr;
}

