

.grid{
   margin-top:5%;
   display:grid;
   grid-template-columns: 3fr 2fr 3fr;
}

mat-card{
    grid-column: 2/3;
    display: grid;
}
form{
    display:grid;
    justify-items: center;
    align-items:start;
    grid-template-columns: 1fr ;
}

.outer{
    justify-self: center;
}

mat-form-field{
    width: 85%;
}

.end{
    justify-self: stretch;
    display:grid;
    justify-items: center;
    grid-template-columns: 1fr  1fr;
}
 
