<app-header></app-header>
<div class="display" *ngIf="bool">
    <div class="inner">
        <div class="outer">
            <h2>Land Registration Details</h2>
        </div>
        <div class="grid">
            <ul class="custom-list">
                <li class="heading-text">RegistrationNo</li>
                <li class="seperator">:</li>
                <li class="details-text">{{data.RegistrationNo}}</li>
                <li class="clear-float"></li>

                <li class="heading-text">FarmerName</li>
                <li class="seperator">:</li>
                <li class="details-text">{{data.FarmerName}}</li>
                <li class="clear-float"></li>

                <li class="heading-text">FarmAddress</li>
                <li class="seperator">:</li>
                <li class="details-text">{{data.FarmAddress}}</li>
                <li class="clear-float"></li>

                <li class="heading-text">State</li>
                <li class="seperator">:</li>
                <li class="details-text">{{data.State}}</li>
                <li class="clear-float"></li>
            </ul>


            <ul class="custom-list">
                <li class="heading-text">Country</li>
                <li class="seperator">:</li>
                <li class="details-text">{{data.Country}}</li>
                <li class="clear-float"></li>

                <li class="heading-text">ExporterName</li>
                <li class="seperator">:</li>
                <li class="details-text">{{data.ExporterName}}</li>
                <li class="clear-float"></li>

                <li class="heading-text">ImporterName</li>
                <li class="seperator">:</li>
                <li class="details-text">{{data.ImporterName}}</li>
                <li class="clear-float"></li>

                <li class="heading-text">DateOfRegistration</li>
                <li class="seperator">:</li>
                <li class="details-text">{{data.DateOfRegistration | date }}</li>
                <li class="clear-float"></li>
            </ul>
        </div>

    </div>
</div>