<app-process-header></app-process-header>
<mat-toolbar class="toolbar"> Processed Dashboard</mat-toolbar>
<!-- <h2>No Packages are Found</h2> -->

<!-- <div class="grid">
<div *ngFor="let package of packages">
      <ul class="custom-list">
                <li class="heading-text">Quantity</li>
                <li class="seperator">:</li>
                <li class="details-text"> {{package.quantity}}</li>
                <li class="clear-float"></li>

                <li class="heading-text">Rosting Duration</li>
                <li class="seperator">:</li>
                <li class="details-text">{{package.rostingDuration}}</li>
                <li class="clear-float"></li>

                <li class="heading-text">Temperature</li>
                <li class="seperator">:</li>
                <li class="details-text">{{package.temperature}}</li>
                <li class="clear-float"></li>

                <li class="heading-text">processorName</li>
                <li class="seperator">:</li>
                <li class="details-text">{{package.processorName}}</li>
                <li class="clear-float"></li>

                <li class="heading-text">processorAddress</li>
                <li class="seperator">:</li>
                <li class="details-text">{{package.processorAddress}}</li>
                <li class="clear-float"></li>
            </ul>
            <br/>
            <br/>
</div>
</div> -->
     
<div *ngIf="display" class="outer">
    <div class="inner">
        <div class="filter">
            <mat-form-field style="width:35%;">
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
            </mat-form-field>
        </div>
        <div class="mat-elevation-z8 landlist">
            <table mat-table [dataSource]="dataSource" matSort>
                <!-- ID Column -->
                <ng-container matColumnDef="internalBatchNo">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> internalBatchNo </th>
                    <!-- <td mat-cell *matCellDef="let row"> <a [routerLink]="['/landDetails', row.internalBatchNo]"> {{row.internalBatchNo}}</a>  </td> -->
                    <td mat-cell *matCellDef="let row"><a [routerLink]="['/processDetails', row.internalBatchNo]">{{row.internalBatchNo}} </a> </td>

                </ng-container>

                <!-- Progress Column -->
                <ng-container matColumnDef="processorName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> processorName </th>
                    <td mat-cell *matCellDef="let row"> {{row.processorName}} </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="processorAddress">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> processorAddress </th>
                    <td mat-cell *matCellDef="let row"> {{row.processorAddress}} </td>
                </ng-container>

                <!-- Color Column -->
                <ng-container matColumnDef="quantity">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> quantity </th>
                    <td mat-cell *matCellDef="let row"> {{row.quantity}} </td>
                </ng-container>
                <ng-container matColumnDef="temperature">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> temperature </th>
                    <td mat-cell *matCellDef="let row"> {{row.temperature}} </td>
                </ng-container>
                <ng-container matColumnDef="rostingDuration">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> rostingDuration </th>
                    <td mat-cell *matCellDef="let row"> {{row.rostingDuration}} </td>
                </ng-container>

            <ng-container matColumnDef="Action">
                    <th mat-header-cell *matHeaderCellDef>Action</th>
                    <td mat-cell *matCellDef="let row">
                            <a style="color:red"  *ngIf="row.setPrice == null" mat-button (click)="setPrice(row.internalBatchNo)" >SetPrice</a> 
                            <a style="color:red"  *ngIf="row.setPrice != null" mat-button [routerLink]="['/transfer', row.internalBatchNo]" >Transfer</a> 

                    </td>
            </ng-container>
               
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                </tr>
            </table>
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" [pageSize]="5" showFirstLastButtons></mat-paginator>
        </div>
    </div>
</div>
               
                

