<mat-toolbar> 
    <button mat-mini-fab color="primary" matTooltip="back" [routerLink]="['/dashboard']" routerLinkActive="active">Dashboard</button>
  <div class="menu">
    <button mat-button [matMenuTriggerFor]="menu">
        <i class="material-icons">
            person_pin
            </i>
    </button>
    <mat-menu #menu="matMenu">
      <a   [routerLink]="['/profile']" routerLinkActive="active"  mat-menu-item>Profile</a>
      <a [routerLink]="['/login']"  mat-menu-item>Signout</a>
    </mat-menu>
  </div>
  </mat-toolbar>


   

  